body {
    padding: 8px;
    font-family: lato, Verdana, sans-serif;
}

* {
box-sizing: border-box;
}

.aboutUsPage-flex-contentArea {
justify-content: center;
}

.aboutUsPage-bannerInformation {
background-color: white;
box-shadow: 5px 10px rgba(107, 97, 97, 0.603);
border: 1px solid rgba(107, 97, 97, 0.603);
padding: 1%;
max-width: 500px;
margin: 2% auto 1px;
position: relative;
border-radius: 80px;


/* text */

color: black;
font-size: 30px;
font-style: italic;
text-align: center;
font-family: arial;
}

.aboutUsPage-teamInformationBanner {
box-shadow: 5px 10px rgba(129, 70, 12, 0.603);
border: 1px solid rgba(253, 253, 253, 0.603);
padding: 1%;
max-width: 800px;
margin: 2% auto;
text-align: center;
font-family: arial;
position: relative;
border-radius: 10px;
color: white;
background-color: rgba(228, 116, 11, 0.603);
text-shadow: 0 0 55px #000000, 0 1px 0 rgba(0,0,0, .25);
font-size: 20px;
}

.aboutUs-flex-container {
margin-top: 1%;
margin-left: auto;
margin-right: auto;
margin-bottom: 2.5%;
padding-top: 10px;
padding-bottom: 15px;
height: auto;
width: 600px;
display: flex;
flex-wrap: wrap;
position: relative;
justify-content: center;
}

.aboutUs-profilePic {
padding: 5%;
float: left;
border-radius: 25%;
}

.aboutUs-profileContent {
padding-left: 15px;
padding-top: 0px;
width: auto;
font-size: 18px;
}

.aboutUs-infoCard1 {
background-color: rgba(236, 184, 12, 0.671);
color: aliceblue;
box-shadow: 5px 10px rgb(226, 219, 219);
border-radius: 10px;
}

.aboutUs-infoCard2 {
background-color: rgba(143, 214, 10, 0.671);
color: aliceblue;
box-shadow: 5px 10px rgb(226, 219, 219);
border-radius: 10px;
}

.aboutUs-infoCard3 {
background-color: rgba(18, 207, 198, 0.671);
color: aliceblue;
box-shadow: 5px 10px rgb(226, 219, 219);
border-radius: 10px;
}

.aboutUs-infoCard4 {
background-color: rgba(226, 78, 9, 0.671);
color: aliceblue;
box-shadow: 5px 10px rgb(226, 219, 219);
border-radius: 10px;
}