body {
    padding: 8px;
    font-family: lato, Verdana, sans-serif;
}

* {
box-sizing: border-box;
}

.aboutUsPage-bannerInformation {
background-color: white;
box-shadow: 5px 10px rgba(107, 97, 97, 0.603);
border: 1px solid rgba(107, 97, 97, 0.603);
padding: 1%;
max-width: 500px;
margin: 5% auto 2.5%;
position: relative;
border-radius: 80px;

/* text */

color: black;
font-size: 30px;
font-style: italic;
text-align: center;
font-family: arial;
}

.aboutUs-flex-container {
    background-color: rgba(233, 6, 6, 0.849);
    cursor: pointer;
    color: aliceblue;
    text-decoration: none;
    width: 100px;
  }