.flex-container {
  display: flex;
  width: 80%;
  margin: 150px auto;
}
.flex-inner-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.column-30vh {
  flex: 40%;
  max-width: 40%;
  margin: 0 auto;
  color: #737373;
  border: 1px solid #737373;
  padding: 3%;
  text-align: center;
}
.icon-check {
  font-size: 80px;
  color: rgb(13, 236, 61);
}
.column-30vh h1 {
  color: #eaeaea;
  font-size: 3.2em;
}
.column-30vh h2 {
  letter-spacing: 3px;
  color: #eaeaea;
  margin: 0;
}

/* BUTTON ONE*/
.btn-one {
  margin: 10px 20px;
  width: 60%;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #2e67f8;
  background: linear-gradient(
    90deg,
    rgb(129, 131, 230) 0%,
    rgb(81, 79, 209) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(83, 22, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}
.btn-one::before {
  content: "";
  width: 100%;
  border-radius: 1000px;
  min-width: calc(200px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #752ef8;
  box-shadow: 0 0 160px rgba(22, 25, 197, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
.btn-one:hover,
.btn-one:focus {
  color: #313133;
  transform: translateY(-6px);
}
.btn-one:hover::before,
.btn-one:focus::before {
  opacity: 1;
}

/* BUTTON TWO*/
.btn-two {
  margin: 10px 20px;
  width: 60%;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #2e67f8;
  background: linear-gradient(
    90deg,
    rgb(81, 209, 103) 0%,
    rgb(8, 201, 50) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(30, 114, 72, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}
.btn-two::before {
  content: "";
  width: 100%;
  border-radius: 1000px;
  min-width: calc(200px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid rgb(8, 201, 50);
  box-shadow: 0 0 160px rgb(8, 201, 50);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
.btn-two:hover,
.btn-one:focus {
  color: #313133;
  transform: translateY(-6px);
}
.btn-two:hover::before,
.btn-one:focus::before {
  opacity: 1;
}
