* {
  box-sizing: border-box;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: ivory;
  background-color: rgb(47, 60, 79);
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  margin-bottom: 1rem;
}

.inner-title {
  height: 5rem;
  background: chocolate;
  white-space: nowrap;
}

.pageTitle {
  margin: auto;
  padding-top: 1rem;
  width: fit-content;
}

.wrapper {
  /* padding-top: .01rem; */
  margin: auto;
  margin-top: 1rem;
  width: 90%;
}

.content {
  margin-bottom: 1rem;
}

.cart {
  width: 60%;
  float: left;
  padding-right: 1rem;
}

.inner-cart {
  background: chocolate;
  min-height: 35rem;
}

.cartHeader {
  padding-left: 1rem;
}

.cartItem {
  padding-left: 1rem;
}

.inner-cartItem {
  height: 10rem;
  overflow: hidden;
}

.itemImage {
  width: 10rem;
  height: 10rem;
  float: left;
  background: lemonchiffon;
}

.itemContent {
  width: 60%;
  float: left;
  padding: 0rem 1rem;
  overflow: hidden;
  /* white-space: nowrap; */
}

.itemTitle {
  font-size: 2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.itemDescr {
  font-size: 1rem;
  text-overflow: ellipsis;
}

.sidebar {
  width: 40%;
  float: left;
  margin-bottom: 1rem;
}

.inner-sidebar {
  min-height: 25rem;
  background: chocolate;
}

.footer {
  width: 40%;
  float: left;
  height: 9rem;
  background: chocolate;
}
