/* body {
  padding: 8px;
  font-family: lato, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
} */

.productPage-bannerInformation {
  box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1%;
  max-width: 1000px;
  margin: 5% auto 2.5%;
  text-align: center;
  font-family: arial;
  position: relative;
  border-radius: 80px;

  /* Work in Progress */

  background-color: rgba(104, 96, 96, 0.452);
  color: white;
  text-shadow: 0 0 55px black, 0 1px 0 rgba(0,0,0, .25);
  font-size: 30px;
}
.categoryPage-productInformationCard {
  box-shadow: 5px 10px rgba(0, 0, 0, 0.822);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1%;
  /* max-width: 300px; */
  margin: 30px auto;
  padding-top: 35px;
  text-align: center;
  font-family: arial;
  position: relative;
  border-radius: 20px;
  background-color: white;
}

/* Work in Progress */

.flex-container  :hover {
  background-color: rgba(136, 41, 41, 0.849);
  cursor: pointer;
}

.flex-container .categoryPage-productInformationCard :hover {
  background-color: rgba(136, 41, 41, 0);
  
}

.categoryPage-productImage :hover {
  background-color: rgba(68, 17, 17, 0)
  /* max-width: 400px; */
}

/* End of Work in Progress */

.categoryPage-productImage {
  position: relative;
  /* max-width: 400px; */
}

.categoryPage-productPrice {
  color: rgb(37, 141, 12);
  font-size: 22px;
  font-weight: bold;
}

.flex-container {
  display: flex;
  width: 80%;
  margin: 150px auto;
  margin-top: 75px;
  flex-wrap: wrap;
  justify-content: center;
}
