body {
  font-family: lato, Verdana, sans-serif;
  background-color: #1a1918;
  margin: 0;
  padding: 0;
}
/* MENU ICON + SIDEBAR */
.sidebar {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* MENU BUTTON */
.menubtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: rgb(255, 255, 255);
  padding: 15px 26px;
  border: none;
  font-weight: bold;
  position: fixed;
  top: 30px;
  left: 100px;
  z-index: 2;
  border-radius: 30px;
  box-shadow: 1px 1px 5px gray;
}
.openbtn:hover {
  background-color: #444;
}
.accordion {
  background-color: #111;
  color: #b1b1b1;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
}
.active,
.accordion:hover {
  background-color: #444;
}
.panel {
  padding: 0 18px;
  display: none;
  background-color: #333;
  overflow: hidden;
}

/* HEADER LOGO */
.header-logo {
  display: inline-block;
  justify-content: center;
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  text-align: center;
  position: fixed;
  z-index: 2;
  top: 3%;
}
.header-logo:hover {
  transform: scale(1.2);
  transition: transform 2s ease-in;
}

/* Cart Button */
.addToCart a {
  font-size: 20px;
  background-color: #111;
  color: white;
  padding: 15px 26px;
  border: none;
  text-decoration: none;
  position: fixed;
  z-index: 2;
  top: 30px;
  right: 100px;
  border-radius: 30px;
  box-shadow: 1px 1px 5px gray;
}
.addToCart:hover {
  background: #444;
  cursor: pointer;
}
.addToCart .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
