body {
  font-family: lato, Verdana, sans-serif;
  background-color: #1a1918;
  margin: 0;
  padding: 0;
}
.nav-spacer {
  height: 150px;
  width: 100%;
}
.nav-full-container {
  /* background-color: #26272b; */
  height: 150px;
  padding: 30px;
  /* overflow: hidden; */
  background-color: #333;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
}
.row-nav {
  display: flex;
  max-width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.column-33.left-menu {
  width: 33%;
  text-align: left;
}
.column-33.center-logo {
  width: 33%;
  text-align: center;
}
.column-33.right-cart {
  width: 33%;
  text-align: right;
}

/* MENU BUTTON */
.menubtn {
  text-align: left;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: rgb(255, 255, 255);
  padding: 15px 26px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 1px 1px 5px gray;
}
.openbtn:hover {
  background-color: #444;
}

/* HEADER LOGO */
.header-logo {
  margin-right: auto;
  text-align: center;
}
.header-logo:hover {
  transform: scale(1);
  transition: transform 2s ease-in;
}

/* Cart Button */
.addToCart {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: rgb(255, 255, 255);
  padding: 15px 26px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 1px 1px 5px gray;
}
.addToCart:hover {
  background: #444;
  cursor: pointer;
}

/* MENU ICON + SIDEBAR */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.accordion {
  background-color: #111;
  color: #b1b1b1;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
}
.active,
.accordion:hover {
  background-color: #444;
}
.panel {
  padding: 0 18px;
  display: none;
  background-color: #333;
  overflow: hidden;
}
