/* HOMEPAGE CONTENT */
.banner-homepage {
  background-image: url("../images/banner-homepage-2415x1200.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  width: 100%;
  min-height: 1400px;
  transition: 1s;
}
.banner-content {
  position: absolute;
  top: 40%;
  left: 10%;
}

.main-buttons {
  display: flex;
}
.button {
  border-radius: 4px;
  background-color: #1a1918;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
#empire-btn:hover {
  padding-right: 25px;
  color: rgb(219, 18, 18);
  box-shadow: 0 5px 15px rgb(219, 18, 18);
  transition: 0.5s;
}
#rebellion-btn:hover {
  padding-right: 25px;
  color: #2e82c5;
  box-shadow: 0 5px 15px #2e82c5;
  transition: 0.5s;
}
.banner-text {
  color: #fff;
  /* display: flexbox; */
  /* position: absolute; */
  top: 35%;
  left: 10%;
  max-width: 700px;
}
.banner-text h1 {
  font-size: 3.5em;
  text-shadow: 3px 3px #1a1918;
  font-style: italic;
}
.banner-text p {
  font-size: 1.3em;
  text-shadow: 1.5px 1.5px #1a1918;
}
