body {
  padding: 8px;
  font-family: lato, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

.productPage-banner {
  max-width: 550px;
  margin: auto;
  margin-bottom: 50px;
}

.productPage-contentArea {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 80%;
}

.productPage-imageContentArea {
  top: 20%;
}

.productPage-mainImage {
  max-width: 400px;
  padding: 5%;
  margin: auto;
  position: relative;
  left: 5%;
  border-radius: 8px;
  background-color: white;
  box-shadow: 5px 10px rgba(224, 217, 217, 0.822);
  border: 3px solid gray;

  /* testing */
  /* background-color: white; */
}

.productPage-subImages {
  position: relative;
  top: 25px;
  left: 11.5%;
  max-width: 40%;
  max-width: 475px;

  /* testing */
  /* background-color: greenyellow;
    outline-style: solid; */
}

.productPage-subImages :hover {
  opacity: 0.4;
  cursor: pointer;
  border: 2px solid red;
}

.productPage-subImages img {
  border: 2px solid black;
  position: relative;
  left: 10px;
  border-radius: 8px;
  padding: 5px;
  margin: 0px 5px;
  background-color: white;

  /* testing */
  /* background-color: blue; */
}

.productPage-productInformation {
  box-shadow: 5px 10px rgba(224, 217, 217, 0.822);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding: auto;
  max-width: 500px;
  margin: auto 10px auto 0px;
  text-align: center;
  font-family: arial;
  position: relative;
  border-radius: 8px;
  background-color: white;

  /* testing */
  /* background-color: rgb(185, 35, 223); */
}

.productPage-price {
  color: rgb(37, 141, 12);
  font-size: 22px;
  font-weight: bold;

  /* testing */
  /* background-color: orange; */
}

.productPage-productInformationBottomSection {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
}

.productPage-buttonCart button {
  border: none;
  outline: 0;
  padding: 12px 16px;
  color: white;
  background-color: #000;
  text-align: center;
  width: auto;
  font-size: 18px;
  float: left;
  border-radius: 8px;
  cursor: pointer;
  float: left;
}

.productPage-buttonCart button:hover {
  opacity: 0.7;
}

.productPage-quantityInput {
  float: right;
  margin-top: 15px;
  margin-left: 10px;

  /* testing */
  /* background-color: greenyellow; */
}

.productPage-quantityText {
  font-family: arial;
  font-weight: bolder;
  font-size: 18px;
  margin-right: 2%;
}

.productPage-quantityTextInput {
  /* border-style: solid;
    border-color: transparent; */
  padding: 10px 10px;
  color: black;
  background-color: white;
  text-align: center;
  width: 40%;
  font-size: 18px;
  border-radius: 8px;
  margin-right: 0px;
}

.productPage-productDetails {
  box-shadow: 5px 10px rgba(224, 217, 217, 0.822);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1%;
  margin: auto;
  text-align: center;
  font-family: arial;
  position: relative;
  border-radius: 8px;
  background-color: white;
  max-height: 20%;
  max-width: 800px;
}

#measurementsDisclaimer {
  font-style: italic;
  color: gray;
}

.productPage-productDetails h2 {
  font-size: 20px;
}

.productPage-productDetails h3 {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 0%;
}

.productPage-productDetails p {
  margin-top: 3px;
}
#hideme {
  display: none;
}
