.flex-container {
  margin: auto;
  max-height: 500px;
}
.first {
  border-color: black;
  border-width: 5px;
  border-style: solid;
  padding: 20px;
  /* float: left; */
}

.second {
  border-color: black;
  border-width: 5px;
  border-style: solid;
  padding: 20px;
}

.third {
  border-color: black;
  border-width: 5px;
  border-style: solid;
}
.forth {
  border-color: black;
  border-width: 5px;
  border-style: solid;
}
